FiddlerLogRequests/LogRequests.raz
DatingApp.API/.vs/DatingApp.API/v15/Server/sqlite3/db.lock
DatingApp.API/.vs/DatingApp.API/v15/.suo
DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache
DatingApp.API/.vs/DatingApp.API/v15/Server/sqlite3/storage.ide
DatingApp.API/.vs/DatingApp.API/v15/Server/sqlite3/storage.ide-shm
DatingApp.API/.vs/DatingApp.API/v15/Server/sqlite3/storage.ide-wal
